.cube_illustrations__render_host_canvas {
    display: block;
    z-index: var(--cube-illustrations-render-host-layer);
    position: fixed;
    width: var(--cube-illustrations-full-size);
    height: var(--cube-illustrations-full-size);
    inset: var(--cube-illustrations-zero);
    pointer-events: none;
}
