{
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "printWidth": 100,
    "plugins": ["prettier-plugin-css-order"],
    "cssDeclarationSorterOrder": "smacss"
}
